.animalCollection{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(63, 63, 63);

}

.Animal{
  height: 10rem;
  color: pink;
}